.footer {
  width: 100%;
  min-height: 350px;
  color: rgba(235, 229, 176, 1);
  background-image: url(../images/footer_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-title {
  display: flex;
  justify-content: center;
  padding: 50px 0 30px;
  font-size: 28px;
  font-weight: 300;
  white-space: nowrap;
}
.footer-title-label {
  margin: 0 35px;
  font-weight: 400;
}
.footer-nav {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.footer-nav a {
  margin: 0 15px;
  text-decoration: none;
  outline: none;
  color: rgba(235, 229, 176, 1);
}
.footer-nav a:hover {
  color: white;
  cursor: pointer;
}
.footer-nav-line {
  line-height: 20px;
  font-size: 12px;
}
.footer-intro {
  width: 100%;
  margin: 35px 0 30px;
  color: #bbb68c;
  text-align: center;
  font-style: normal;
  font-size: 14px;
}
.footer-intro-item {
  margin: 0 30px;
}
.footer-qrcode {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-qrcode-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 20px 20px;
  font-size: 15px;
}
.footer-qrcode-item-img {
  width: 55px;
  /* height: 75px; */
  margin-bottom: 5px;
}
.footer-auth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 0 5vw;
  color: #ffffff;
  font-size: 12px;
}
.footer-auth-icon {
  width: 20px;
  margin-left: 5px;
}
.footer-auth a {
  text-decoration: underline;
}
